@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@100;300;400;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a192f;
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 100px;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  fill: none;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 25px;
  position: relative;
}

.hexagon {
  font-size: 86px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #64ffda;
}

.logo {
  margin-left: 100px;
  margin-top: -20px;
}

a.logo {
  text-decoration: none;
}

.f {
  position: absolute;
  top: 62px;
  left: 125px;
  z-index: 1;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 36px;
  color: #64ffda;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 2rem;
}

li {
  padding: 10px;
  margin-inline: 10px;
  text-decoration: none;
  font-family: "Fira Code", "SFMono";
  font-size: 18px;
  color: #ccd6f6;
}

.nav-links li a {
  text-decoration: none;
  color: #ccd6f6;
}

.nav-links li a:hover {
  color: #64ffda;
}

.number {
  color: #64ffda;
}

.resume,
.say-hello {
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: 16px 24px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code";
}

.resume:hover,
.say-hello:hover {
  background: rgba(96, 230, 203, 0.1);
}

main {
  width: 1600px;
  margin-left: 200px;
}

main section {
  margin-block: 200px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1.name {
  font-family: "Fira Code";
  font-weight: 200;
  font-size: 24px;
  color: #64ffda;
  margin-block: 24px;
}

h2.name,
.get-in-touch {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 80px;
  color: #ccd6f6;
}

h2.subtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 80px;
  color: #8892b0;
  margin-block: 8px;
}

p.description {
  margin-top: 20px;
  font-family: "Roboto";
  line-height: 1.6;
  font-weight: 400;
  font-size: 24px;
  color: #8892b0;
}

.tech-hive {
  display: inline-block;
  text-decoration: none;
  color: #64ffda;
}

.tech-hive::after {
  content: "";
  width: 0px;
  height: 0.4px;
  display: block;
  background: #64ffda;
  transition: 300ms;
}

.tech-hive:hover::after {
  width: 100%;
}

h2.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24;
  color: #8892b0;
  margin-block: 8px;
}

.number01 {
  color: #64ffda;
}

section.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-pic img {
  transform: scale(0.8);
  object-fit: cover;
}

img {
  transition: all 1s; /* Animation */
}
img:hover {
  content: url("img/sexy-me.png");
  transform: scale(0.9);
}

section.experience .experience {
  align-items: flex-start;
}

div.description {
  width: 1100px;
}

section.about-me .description,
h2.title {
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 32px;
  color: #ccd6f6;
}

section.about-me .description p,
.idea {
  margin-top: 20px;
  font-family: "Roboto";
  line-height: 1.6;
  font-weight: 400;
  font-size: 22px;
  color: #8892b0;
}

.technologies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.technologies ul {
  list-style: none;
  padding: 0 -2rem;
}

.technologies ul li::before {
  content: "► ";
  color: #5fe5ca;
  font-size: 12px;
  left: 0;
}

div.experience {
  display: flex;
  gap: 200px;
  align-items: center;
  flex-wrap: wrap;
}

.companies div {
  font-family: "Fira Code";
  font-size: 18px;
  width: 220px;
  color: #ccd6f6;
  font-weight: 300;
  padding: 18px 36px;
  border-left: 2px solid #233554;
  cursor: pointer;
}

.companies div:hover {
  background-color: #112240;
  color: #64ffda;
}

.companies .tech-hive:hover {
  text-decoration: none;
}
.clicked {
  border-left: 2px solid #64ffda;
}

h2.title {
  margin-bottom: 25px;
}

#working-period {
  font-family: "Fira Code";
  font-size: 18px;
  color: #8892b0;
  font-weight: 500;
}

#company {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 32px;
  color: #ccd6f6;
}

.company-name {
  color: #64ffda;
}

.about-company {
  width: 800px;
}

li {
  line-height: 1.7;
}

.about-company h2,
.about-company h3 {
  margin-block: 20px;
}

section.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 200px auto;
  width: 800px;
}

.contact-me {
  font-family: "Fira Code";
  font-size: 24px;
  color: #64ffda;
  font-weight: 500;
}

.get-in-touch {
  font-size: 48px;
  margin-block: 24px;
}

.say-hello {
  border-radius: 5px;
  padding: 24px 48px;
  margin-block: 48px;
  text-decoration: none;
  color: #ccd6f6;
}

footer {
  position: relative;
  color: #ccd6f6;
  font-size: 18px;
  font-family: "Fira Code";
  text-align: center;
  margin-block: 20px;
  cursor: pointer;
}

footer p:hover {
  color: #64ffda;
}

.icons a {
  text-decoration: none;
  color: #ccd6f6;
  font-size: 18px;
  transition: top 0.3s ease-out;
}

.icons a:hover {
  color: #64ffda;
}

.icon {
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 12px;
  width: 1.5%;
  height: 1.5%;
  font-size: 18px;
}
